@import'./mixin';
@import'./maps';

footer {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color:map-get($pie , bg-color);
  color: rgb(241, 214, 60);
  font-family: italic;


  p {
    font-size: 1.5rem;
  }
  h2 {
    color: rgb(241, 214, 60);
  }
}

iframe {
  width: 300px;
  height: 300px;
}
.mediosDeContacto{
    display: flex;
    flex-direction: column;
    align-items: center;
.iconosContacto
{img {
  width: 50px;
  height: 50px;
}}
}
.iconosRedes {
  width: 50px;
  height: 50px;
}

.mediosDePago{
    display: flex;
    flex-direction: column;
    align-items: center;
    .iconosPago{
        img {
            width: 50px;
            height: 50px;
        }
    }
}

@media screen and (min-width: 769px) {

  footer {
    justify-content: space-between;
    flex-direction: row;
  }

  iframe {
    width: 500px;
    height: 300px;
  }
}
