@import "_masSobreNosotros.scss";
@import "_footer.scss";


* {
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
}

body {
  background-image: url(../imagenes/fondoMedio.png);
}

@media screen and (min-width: 480px) {
}

.barra {
  background-color: rgb(25, 25, 126);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  font-family: italic;
  color: rgb(241, 214, 60);
}

.container-fluid {
  color: rgb(241, 214, 60);
}

.galeria {
  color: rgb(241, 214, 60);
  margin-bottom: 0%;
  margin-top: 0.5rem;
  font-family: italic;
}

h2 {
  padding: 10px;
  color: black;
  font-family: italic;
  font-size: 14px;
  text-align: center;
}
.links {
  display: flex;
  flex-direction: row;
  margin-bottom: 0;
    a {
      color: rgb(241, 214, 60);
      &:hover {
        text-decoration: underline;
      }
    }
}
h4 {
  color: black;
  font-family: italic;
  font-size: 14px;
  text-align: center;
}



.contenedor {
  margin-top: 10px;
  max-width: 100vw;
  display: flex;
  justify-content: center;
  overflow-y: hidden;
  max-height: 80vh;
}

.crop {
  width: 100vw;
}

.center-cropped {
  width: 60vw;
  max-height: 650px;
  overflow: hidden;

  img {
    min-height: 100%;
    min-width: 100%;
  }
}

.medio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: whitesmoke;
  font-style: italic;
}
.obrasFamosas {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

li {
  display: inline;
  margin-right: 10px;
  border: 2px;
  list-style: none;
  padding: 10px;
}



@media screen and (min-width: 768px) {
  .obrasFamosas {
    li {
      list-style: none;
      padding: 10px 30px;
    }
  }
}

@media screen and (min-width: 1441px) {
  .center-cropped {
    width: 60vw;
    max-height: 1200px;
    overflow: hidden;
  }
}
